# Urable Virtual Shop URL - paste your Virtual Shop link here once you have it
# Example: VITE_URABLE_VIRTUAL_SHOP_URL=https://app.urable.com/virtual-shop/supreme-nomads-detailing
VITE_URABLE_VIRTUAL_SHOP_URL=

# Sanity CMS - snd-sanity project config
# Project ID and dataset can be found in sanity.config.ts
VITE_SANITY_PROJECT_ID=cikhe43d
VITE_SANITY_DATASET=production
